@import '../../../stylesheets/colors.scss';

.separator-flourish,
.separator-line {
  fill: #211915;
}

.separator-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 42px;
  height: 20px;
  background: white;
  padding: 0 15px;
  border-radius: 50%;
}

.dark-theme {
  .separator-flourish,
  .separator-line {
    fill: $spun-pearl;
  }

  .separator-text {
    background: $black-russian;
    color: $spun-pearl;
  }
}
