{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["."],
            "cwd": "babelrc"
          }
        ],
        ["wrap-in-js", {"extensions": ["css$", "scss$"]}],
        "inline-react-svg"
      ],
      "ignore": []
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["."],
            "cwd": "babelrc"
          }
        ],
        ["wrap-in-js", {"extensions": ["css$", "scss$"]}],
        "inline-react-svg"
      ],
      "ignore": []
    },
    "test": {
      "presets": [
        ["@babel/preset-env", {"modules": "commonjs"}],
        "next/babel"
      ]
    }
  }
}
