.next
.env
build
out
now.json

# package directories
node_modules

# Serverless directories
.serverless

# Logs
yarn-error.log
logs
**/.yarn/cache
**/.yarn/install-state.gz

# JetBrains IDE
.idea

# TypeScript
next-env.d.ts
