.next
.env
build
out
now.json

# package directories
node_modules

# Serverless directories
.serverless

# Logs
yarn-error.log
logs
**/.yarn/cache
**/.yarn/install-state.gz

# JetBrains IDE
.idea

# TypeScript
tsconfig.tsbuildinfo
next-env.d.ts

# keys
scripts/keys

# Maintenance scripts and logs
maintenance_logs/
top-packages.json
populate-v3-*.json
