.progress-hex {
  width: 8rem;
  height: 8rem;
  contain: strict;
  will-change: transform;

  circle {
    fill: #212121;
    transform-box: view-box;
    transform-origin: 50% 50%;
  }
}

.progress-hex__trail {
  stroke-width: 1px;
}
