@import '../../../stylesheets/variables';
@import '../../../stylesheets/colors';

.page-header {
  padding: $global-spacing * 3;
  padding-bottom: $global-spacing * 2;
  display: flex;
  align-items: center;

  @media screen and (max-width: 40em) {
    padding: $global-spacing * 2;
  }
}

.page-header--right-section {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.github-logo {
  width: 30px;
  height: 30px;

  @media screen and (max-width: 40em) {
    width: 20px;
    height: 20px;
  }

  path {
    fill: #666;
    transition: fill 0.2s;
  }

  &:hover {
    path {
      fill: black;
    }
  }
}

.logo-small {
  @include font-size-reg;
  text-transform: uppercase;
  font-weight: $font-weight-very-bold;
  letter-spacing: 3px;
  user-select: none;
  cursor: pointer;
  color: #212121;
}

.logo-small__alt {
  color: #888;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - 6px);
  flex-gorw: 1;
}

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;

  @media screen and (max-width: 40em) {
    padding: 0 $global-spacing * 2;
  }
}

.page-header__quicklinks {
  list-style: none;
  margin: 0 2rem 0 0;
  font-weight: $font-weight-light;
  display: flex;

  a {
    @include font-size-xs;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: $font-weight-bold;
    opacity: 0.55;
    color: $raven;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  li + li {
    margin-left: $global-spacing * 2;
  }

  @media screen and (max-width: 40em) {
    max-width: 40vw;
    overflow: scroll;
    align-items: center;
    justify-content: flex-end;
    overflow: scroll;
  }
}
