//  Use http://www.htmlcsscolor.com to name colors
$gulf-blue: #2F3F5F;
$neptune: #82B5B3;
$cornflower-blue: #65A1F8;
$maya-blue: #65C3F8;
$pastel-green: #7cd690;
$carrot-orange: #EB841F;
$raven: #666E78;

$autocomplete-border-color: transparentize(black, 0.93);