//  Use http://www.htmlcsscolor.com to name colors
$gulf-blue: #2f3f5f;
$neptune: #82b5b3;
$cornflower-blue: #65a1f8;
$maya-blue: #65c3f8;
$pastel-green: #7cd690;
$dandelion: #fff3cf;
$carrot-orange: #eb841f;
$raven: #666e78;

$black-russian: #1c1c1e;
$spun-pearl: #a9a9b3;
$ghost-white: #f1f1f2;

$autocomplete-border-color: transparentize(black, 0.93);
$autocomplete-border-color-dark: transparentize($spun-pearl, 0.6);
