// pages
@import '../pages/compare/ComparePage.scss';
@import '../pages/package/[...packageString]/components/ExportAnalysisSection/ExportAnalysisSection.scss';
@import '../pages/package/[...packageString]/components/InterLinksSection/InterLinksSectionCard/InterLinksSectionCard.scss';
@import '../pages/package/[...packageString]/components/SimilarPackagesSection/SimilarPackagesSection.scss';
@import '../pages/package/[...packageString]/components/InterLinksSection/InterLinksSection.scss';
@import '../pages/package/[...packageString]/ResultPage.scss';
@import '../pages/scan/Scan.scss';
@import '../pages/scan-results/ScanResults.scss';
@import '../pages/index.scss';

// components
@import '../client/components/AutocompleteInput/AutocompleteInput.scss';
@import '../client/components/AutocompleteInputBox/AutocompleteInputBox.scss';
@import '../client/components/BarGraph/BarGraph.scss';
@import '../client/components/BarVersion/BarVersion.scss';
@import '../client/components/BlogLayout/BlogLayout.scss';
@import '../client/components/BuildProgressIndicator/BuildProgressIndicator.scss';
@import '../client/components/JumpingDots/JumpingDots.scss';
@import '../client/components/Layout/Layout.scss';
@import '../client/components/ProgressHex/ProgressHex.scss';
@import '../client/components/QuickStatsBar/QuickStatsBar.scss';
@import '../client/components/ResultLayout/ResultLayout.scss';
@import '../client/components/Icons/SideEffectIcon.scss';
@import '../client/components/Stat/Stat.scss';
@import '../client/components/SimilarPackageCard/SimilarPackageCard.scss';
@import '../client/components/Icons/TreeShakeIcon.scss';
@import '../client/components/Warning/Warning.scss';
