:root {
  --color-gulf-blue: #2f3f5f;
  --color-dark-gulf-blue: #152231;
  --color-neptune: #82b5b3;
  --color-cornflower-blue: #65a1f8;
  --color-maya-blue: #65c3f8;
  --color-pastel-green: #7cd690;
  --color-dandelion: #fff3cf;
  --color-carrot-orange: #eb841f;
  --color-dark-raven: #5c5c66;
  --color-raven: #666e78;

  // rgba(0, 0, 0, 0.07) is equivalent to transparentize(black, 0.93)
  --color-autocomplete-border: rgba(0, 0, 0, 0.07);
}

[data-theme='dark'] {
  // Placeholder for future overrides
  // --color-gulf-blue: ...
  color-scheme: dark;
}
