@import '../../../stylesheets/colors';
@import '../../../stylesheets/variables';

.autocomplete-input-box {
  border: 1px solid var(--color-autocomplete-border);
  border-radius: 10px;
  background: var(--color-bg-surface);
  box-shadow: var(--shadow-search-box);
  max-width: 700px;
  min-width: 550px;

  @media screen and (max-width: 48em) {
    width: 85vw;
    max-width: 550px;
    min-width: auto;
  }

  @media screen and (max-width: 40em) {
    width: 85vw;
    min-width: auto;
  }
}

.autocomplete-input-box__footer {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 80%;
    margin: auto;
    height: 1px;
  }
}
