@import '../../../stylesheets/colors';
@import '../../../stylesheets/variables';

.autocomplete-input-box {
  border: 1px solid $autocomplete-border-color;
  border-radius: 10px;
  background: transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  max-width: 700px;
  min-width: 550px;

  @media screen and (max-width: 48em) {
    width: 85vw;
    max-width: 550px;
    min-width: auto;
  }

  @media screen and (max-width: 40em) {
    width: 85vw;
    min-width: auto;
  }
}

.autocomplete-input-box__footer {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 80%;
    margin: auto;
    height: 1px;
  }
}
