@import '../../../stylesheets/colors';
@import '../../../stylesheets/variables';

.page-container.blog {
  .page-content {
    justify-content: normal;
  }
}

.blog-layout__container {
  max-width: 80ch;
  padding: 0 2rem;
  width: 100%;

  h1 {
    margin-bottom: 0;
  }

  img,
  iframe {
    max-width: 100%;
    object-fit: contain;
  }
}

.blog-post__preview-read-more {
  @include font-size-xs();
  letter-spacing: 1px;
  color: $gulf-blue;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  &:hover {
    color: lighten($gulf-blue, 20%);
  }
}

.blog-post__preview {
  h2 {
    font-weight: $dark-gulf-blue;
    color: #5c5c66;
    margin: 0;

    &:hover {
      color: lighten($gulf-blue, 10%);
    }
  }

  & + & {
    margin-top: 4rem;
  }
}

.blog-post__preview-content {
  color: darken($dark-raven, 10%);
  line-height: 1.6;
  @include font-size-reg();

  a {
    color: darken($maya-blue, 20%);
    border-bottom: 1px solid $cornflower-blue;
    transition: all 0.2s;

    &:hover {
      color: darken($maya-blue, 40%);
      border-bottom: 1px dashed $cornflower-blue;
    }
  }
}

.blog-post__preview-date {
  @include font-size-sm;
  margin: 0.7rem 0 0;
  color: $raven;
  font-weight: $font-weight-light;
}
