@import '../../../stylesheets/colors';
@import '../../../stylesheets/variables';

.page-container.blog {
  .page-content {
    justify-content: normal;
  }
}

.blog-layout__container {
  max-width: 80ch;
  padding: 0 2rem;
  width: 100%;

  h1 {
    margin-bottom: 0;
  }

  img,
  iframe {
    max-width: 100%;
    object-fit: contain;
  }
}

.blog-post__preview-read-more {
  @include font-size-xs();
  letter-spacing: 1px;
  color: var(--color-gulf-blue);
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  &:hover {
    color: var(--color-link);
  }
}

.blog-post__preview {
  h2 {
    color: var(--color-blog-heading);
    margin: 0;

    &:hover {
      color: var(--color-link);
    }
  }

  & + & {
    margin-top: 4rem;
  }
}

.blog-post__preview-content {
  color: var(--color-blog-content);
  line-height: 1.6;
  @include font-size-reg();

  a {
    color: var(--color-blog-link);
    border-bottom: 1px solid var(--color-link);
    transition: all 0.2s;

    &:hover {
      color: var(--color-blog-link-hover);
      border-bottom: 1px dashed var(--color-link);
    }
  }
}

.blog-post__preview-date {
  @include font-size-sm;
  margin: 0.7rem 0 0;
  color: var(--color-blog-date);
  font-weight: $font-weight-light;
}
